fastapi==0.135.1
uvicorn==0.41.0
SQLAlchemy==2.0.52
alembic==1.19.1
psycopg==3.3.5
pydantic==2.12.5
pydantic-settings==2.15.0
python-jose==3.5.0
pwdlib[argon2]==0.3.1
email-validator==2.3.0
python-multipart
